.read-story-container {
    background-color: rgba(20, 20, 20, 0.95);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &__content {
        min-height: 80vh;
        width: 100%;
        padding: 2rem;
    }

    &__navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2rem;

        & .message {
            margin: auto 16px;
        }
    }
}

@media (max-width: 900px) {
    .text-main {
        display: none;
    }
}