<h2 *ngIf="story"><span class="text-main">{{ story.Title }}</span></h2>

<div class="read-story-container" *ngIf="story">
    <div class="read-story-container__content">
        <div [innerHTML]="currentPageContent" class="content"></div>
    </div>
    <div class="read-story-container__navigation">
        <p-button icon="pi pi-angle-left" [rounded]="true" [text]="true" severity="secondary" (onClick)="movePrev()" />
        <div class="message">{{ currentPageLabel }}</div>
        <p-button icon="pi pi-angle-right" [rounded]="true" [text]="true" severity="secondary" (onClick)="moveNext()" />
    </div>
</div>