.read-story-container {
    position: relative;
    background-color: rgba(20, 20, 20, 0.95);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &__content {
        min-height: 60vh;
        max-height: 75vh;
        width: 100%;
        padding: 0.5rem 2rem;
        padding-top: 0rem;
        overflow-y: auto;
    }

    &__navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        padding-bottom: 1rem;

        & .message {
            margin: auto 16px;
        }
    }

    &-maximized {
        position: absolute;
        top: 14px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 87%;
        height: 85vh;

        & .read-story-container__content {
            min-height: 90vh;
            max-height: 95vh;
        }
    }
}

.focus {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: flex-end;
    z-index: 9999;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media (max-width: 900px) {
    .text-main {
        display: none;
    }
}