<ng-container *ngIf="storyNotFound; else storyFound">
    <div class="error-message">
        <h2>Story not found</h2>
        <p>Sorry, we couldn't find the story you're looking for.</p>
    </div>
</ng-container>
<ng-template #storyFound>
    <div
        class="loading"
        *ngIf="!story"
    >
        <p-progressSpinner
            styleClass="w-4rem h-4rem"
            strokeWidth="8"
            animationDuration=".5s"
        />
    </div>

    <h2 *ngIf="story">
        <span class="text-main">{{ story.Title }}</span>
    </h2>

    <div
        class="read-story-container"
        *ngIf="story"
        [ngClass]="{ 'read-story-container-maximized': maximized }"
    >
        <div class="focus">
            <p-button
                icon="pi pi-window-maximize"
                [rounded]="true"
                [text]="true"
                severity="secondary"
                (onClick)="maximize()"
                *ngIf="!maximized"
            />
            <p-button
                icon="pi pi-window-minimize"
                [rounded]="true"
                [text]="true"
                severity="secondary"
                (onClick)="minimize()"
                *ngIf="maximized"
            />
        </div>

        <div class="read-story-container__content">
            <div
                [innerHTML]="currentPageContent"
                class="content"
            ></div>
        </div>
        <div class="read-story-container__navigation">
            <p-button
                icon="pi pi-angle-left"
                [rounded]="true"
                [text]="true"
                severity="secondary"
                (onClick)="movePrev()"
            />
            <div class="message">{{ currentPageLabel }}</div>
            <p-button
                icon="pi pi-angle-right"
                [rounded]="true"
                [text]="true"
                severity="secondary"
                (onClick)="moveNext()"
            />
        </div>
    </div>
</ng-template>
