.story-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.story-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 30%;
    text-align: center;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    transition: all .5s ease;
    transition: background-image 0.5s ease;
}

.story-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
}