$primary-color: #c9a27e;
$secondary-color: #a37c5b;
$accent-color: #d1bfa3;

$glass-bg: rgba(56, 41, 29, 0.4);
$glass-border: rgba(255, 255, 255, 0.1);
$text-color: #f5f0eb;
$shadow: 0 8px 32px 0 rgba(34, 34, 26, 0.37);

.glassy-grid {
    color: #f5f0eb;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.2rem;
    width: 100%;
}

.grid-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

@media (max-width: 700px) {
    .glassy-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
