:host {
    width: 100%;
}

.form-field {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5em;
    margin-bottom: 1rem;
    width: 100%;
}