<div
    class="notifications-bar"
    *ngIf="notifications.length > 0"
>
    <div class="notifications-bar__header">
        <h2>Notifications</h2>
        <button
            class="link"
            (click)="markAllAsRead()"
        >
            Mark all as read
        </button>
    </div>
    <ul class="notifications-list">
        <li
            *ngFor="let notification of notifications"
            [class.unread]="!notification.IsRead"
            [class.pointer]="notification.RelatedObjectId"
            (click)="clickNotification(notification)"
        >
            <div class="notification-content">
                <p class="notification-message">
                    {{ notification.Message }}
                </p>
                <img
                    *ngIf="notification.PreviewUrl"
                    [src]="notification.PreviewUrl"
                    alt="{{ notification.Message }}"
                    class="notification-image"
                />
            </div>
        </li>
    </ul>
</div>
