main {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    justify-content: start !important;

    & .left-panel,
    .navigation {
        display: flex;
        flex-direction: row;
    }

    & .right-panel {}

    &> :first-child {
        align-self: flex-start;
    }
}

.mt-16 {
    margin-top: 16px;
}

@media (max-width: 900px) {
    .left-panel {
        justify-content: space-between;
    }

    .right-panel {
        width: 100% !important;
    }
}