main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    & .left-panel {
        display: flex;
        flex-direction: row;
        margin: 20px 0px;
    }

    & .right-panel {
        width: 80%;
        margin: 0px auto;
    }
}
