main {
    display: flex;
    flex-direction: column;
    min-height: 95vh;

    & .left-panel,
    .navigation {
        display: flex;
        flex-direction: row;
    }

    & .left-panel {}

    & .right-panel {
        margin-top: 16px;
    }
}

.sidebar {}

@media (max-width: 900px) {
    .left-panel {
        justify-content: space-between;
    }

    .right-panel {
        width: 100% !important;
    }
}