<app-loading-overlay *ngIf="loading"></app-loading-overlay>
<main>
    <div
        class="left-panel"
        *ngIf="authService.isAuthenticated()"
    >
        <p-sidebar [(visible)]="sidebarVisible">
            <app-header (commandExecuted)="sidebarVisible = false"></app-header>
        </p-sidebar>
        <div
            class="logo"
            (click)="home()"
        >
            HISCARIES
        </div>
        <div class="notification-wrapper">
            <p-button
                (onClick)="sidebarVisible = true"
                icon="pi pi-arrow-right"
            />
            <span
                class="notification-wrapper__circle"
                *ngIf="unreadCount > 0"
            ></span>
        </div>
        <app-search-bar></app-search-bar>
    </div>
    <div class="right-panel">
        <router-outlet></router-outlet>
    </div>
</main>
