<app-loading-overlay *ngIf="loading"></app-loading-overlay>
<main>
    <div class="background-decor">
        <div class="shape shape-2"></div>
        <div class="shape shape-3"></div>
        <div class="shape shape-1"></div>
    </div>

    <div
        class="left-panel"
        *ngIf="authService.isAuthenticated()"
    >
        <div class="navigation">
            <p-button
                icon="pi pi-arrow-left"
                class="back-button"
                (onClick)="goBack()"
            ></p-button>
            <p-sidebar [(visible)]="sidebarVisible">
                <app-header (commandExecuted)="sidebarVisible = false"></app-header>
            </p-sidebar>
            <p-button
                class="logo"
                (click)="home()"
            >
                HISCARIES
            </p-button>
            <div class="notification-wrapper">
                <p-button
                    (onClick)="sidebarVisible = true"
                    icon="pi pi-arrow-right"
                />
                <span
                    class="notification-wrapper__circle"
                    *ngIf="unreadCount > 0"
                ></span>
            </div>
        </div>
        <app-search-bar></app-search-bar>
    </div>
    <div class="right-panel">
        <router-outlet></router-outlet>
    </div>
</main>
