:host {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 2rem;
    color: #f5f0eb;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    padding: 2rem;
}
