.modify-story-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    max-width: 1500px;
    margin: 2rem auto;
    padding: 2.5rem;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #1e1e1e;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    transition: all 0.5s ease;
    transition: background-image 0.5s ease;

    min-height: 90vh;

    .half-width-form {
        ::ng-deep {
            app-form-input,
            app-form-textarea,
            app-form-button {
                display: flex;
                width: 100%;
                margin-bottom: 1rem;
                justify-content: center;
                align-items: center;
            }
        }
    }

    form {
        width: 95%;

        & .form-controls {
            width: 60%;
            margin: 1% auto;
        }
    }
}

::ng-deep .p-tabview .p-tabview-panels {
    padding: 2rem;
    background-color: transparent;
}

::ng-deep .p-tabview-nav {
    border: none;

    & li {
        margin-right: 20px;
    }
}

.overlay {
    border-radius: 16px;
}

.modify-story-container > * {
    position: relative;
    z-index: 2;
}

h2 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.form-controls {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;

    &__same-line {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.error-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

    & .error-message {
        margin: 2rem auto;
    }
}
