<div [formGroup]="formGroup">
    <ng-container [formArrayName]="formArrayName">
        <app-text-editor [control]="currentPageControl" [label]="currentPageLabel" [errorMessage]="'Content is required'"></app-text-editor>
    </ng-container>
    <div class="controls">
        <app-form-button severity="danger" label="Remove Page" (onClick)="removeContent()"></app-form-button>
        <i class="pi pi-angle-left"></i>
        <div>{{ currentPageLabel }}</div>
        <i class="pi pi-angle-right"></i>
        <app-form-button severity="success" label="Add Page" (onClick)="addContent()"></app-form-button>
    </div>
</div>