<div [formGroup]="formGroup">
    <ng-container [formArrayName]="formArrayName">
        <div *ngFor="let content of contents.controls; let i = index">
            <app-text-editor [control]="getContentControlByIndex(i)" [label]="'Content Page ' + (i + 1)"
                [errorMessage]="'Content is required'"></app-text-editor>
            <app-form-button label="Remove Page" (onClick)="removeContent(i)"></app-form-button>
        </div>
    </ng-container>
    <app-form-button label="Add Page" (onClick)="addContent()"></app-form-button>
</div>