<div
    [formGroup]="formGroup"
    class="form-control"
>
    <span class="p-float-label">
        <input
            [id]="controlName"
            type="text"
            pInputText
            [formControlName]="controlName"
        />
        <label [for]="controlName">{{ label }}</label>
    </span>
    <p-message
        severity="error"
        [text]="errorMessage"
        *ngIf="formGroup.get(controlName)?.hasError('required') && formGroup.get(controlName)?.touched"
    ></p-message>
</div>
