.glass-header {
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    padding: 20px 10px;
    margin-bottom: 1.5rem;
}

.logo {
    font-family: monospace, serif;
    font-size: large;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    border: 1px solid #a78bfa;
    border-radius: 5px;
    color: #a78bfa;

    width: 120px;
    height: 45px;

    margin: 0px 20px;
}