.form-control {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

textarea {
  background-color: #2e2e2e;
  border: 1px solid #4e4e4e;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: #fff;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 2000px;
}
