.signin {
    font-family: monospace, serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 96vh;

    &_mode {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 5em;
        text-align: center;
        padding: 1%;
        user-select: none;
        color: #b3b3b3;
    }
}

.error {
    text-align: center;
}
