<ng-container *ngIf="displayedStories.length > 0 || isLoading; else noStories">
    <h1 class="fs-1rem main-title">Stories for you to read</h1>
    <app-search-story-results
        [stories]="displayedStories"
        [isLoading]="isLoading"
        class="w-full"
    >
    </app-search-story-results>
    <app-button-one
        *ngIf="shouldShowMoreButton"
        [label]="'Show More'"
        [disabled]="isCooldownActive"
        (clickAction)="showMore()"
    ></app-button-one>
</ng-container>
<ng-template #noStories>🚫📖 No stories posted yet — be the first legend!</ng-template>
