<ng-container *ngIf="stories() as s; else noStories">
    <h1 class="fs-1rem main-title">Stories for you to read</h1>

    <app-search-story-results
        [stories]="s"
        [isLoading]="isLoading()"
        class="w-full"
    ></app-search-story-results>

    <div class="flex gap-2 mt-4">
        <app-button-one
            [label]="'Previous'"
            [disabled]="isLoading() || pagination.snapshot.StartIndex === 0"
            (clickAction)="prevPage()"
        ></app-button-one>

        <app-button-one
            [label]="'Next'"
            [disabled]="isLoading() || s.Items.length + pagination.snapshot.StartIndex >= s.TotalItemsCount"
            (clickAction)="nextPage()"
        ></app-button-one>
    </div>
</ng-container>

<ng-template #noStories> 📚💨 No pages turned yet — your adventure awaits! </ng-template>
