:host {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.load-more-anchor {
    height: 1px;
    width: 100%;
    background-color: transparent;
}