:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.preview-story-page>* {
    position: relative;
    z-index: 2;
}

.overlay {
    border-radius: 15px;
}

.preview-story-page {
    display: flex;
    position: relative;
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    overflow-y: auto;

    .content-wrapper {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: start;
        justify-content: flex-start;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .left-content {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .story-info {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        font-size: 1rem;
        color: #ccc;

        .story-info-item {
            display: flex;
            align-items: center;
        }
    }

    .story-header {
        h1 {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
            color: #fff;
        }

        .story-author,
        .story-date {
            font-size: 1rem;
            color: #bbb;
        }
    }

    .story-details {
        font-size: 1rem;
        line-height: 1.6;
        color: #ddd;

        & .story-description {
            margin: 0;
        }
    }

    .story-actions {
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
        margin-top: 1rem;
    }
}

@media (max-width: 900px) {
    .preview-story-page {
        min-width: 100%;
        max-width: 100%;
        padding: 1rem 0.5rem;

        & .story-header h1 {
            font-size: 2rem;
        }
    }
}

@media (max-width: 550px) {
    .story-info-item span {
        display: none;
    }

    .story-main {
        max-width: 95% !important;
    }
}