$primary-color: #222;
$secondary-color: #333;
$text-color: #e0e0e0;
$accent-color: #007bff;
$hover-box-shadow: #c9a27d;
$border-color: #444;

:host,
.story-card {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(25% - 32px);
    background-color: $secondary-color;
    border: 1px solid $border-color;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
    user-select: none;
    cursor: pointer !important;
    max-height: 350px;
    min-width: 280px;

    &:hover {
        transform: scale(1.01);
        box-shadow: 0 4px 20px $hover-box-shadow;

        .story-hover-details {
            opacity: 1;
            visibility: visible;
        }
    }
}

:host {
    min-width: 28%;
    max-width: 450px;
}

.story-thumbnail {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; // 16:9 aspect ratio
    background-color: $primary-color;
    overflow: hidden;
}

.story-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.story-gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    z-index: 1;
}

.story-details-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 14px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 2;
    color: $text-color;
    flex-direction: column;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);

    .story-title {
        font-size: 0.9rem;
        margin: 0;
        margin-bottom: 4px;
        color: $text-color;
        line-height: 1.2;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .story-description {
        font-size: 0.7rem;
        margin: 8px 0 0;
        color: lighten($text-color, 20%);
    }
}

.story-hover-details {
    position: absolute;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px;
    padding-bottom: 48px;
    background-color: rgba(0, 0, 0, 0.7);
    color: $text-color;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease;

    pointer-events: none;
    user-select: none;

    .story-author {
        font-size: 0.6rem;
        font-weight: 400;
        margin: 4px auto;

        & span {
            color: $hover-box-shadow;
        }
    }

    .full-description {
        font-size: 0.6rem;
        margin: 4px auto;
    }
}

.story-info {
    &__item-age {
        font-size: 0.5rem;
        color: $hover-box-shadow;
    }
}

@media (max-width: 1500px) {

    :host,
    .story-card {
        flex: 1 1 calc(33.33% - 32px); // 3 cards per row
    }
}

@media (max-width: 1200px) {

    :host,
    .story-card {
        flex: 1 1 calc(50% - 32px); // 2 cards per row
    }
}

@media (max-width: 900px) {

    :host,
    .story-card {
        flex: 1 1 100%; // 1 card per row
    }
}