$primary-color: #222;
$secondary-color: #333;
$text-color: #e0e0e0;
$accent-color: #007bff;
$hover-box-shadow: #a78bfa;
$border-color: #444;

:host,
.story-card {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(25% - 32px);
    background-color: $secondary-color;
    border: 1px solid $border-color;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
    user-select: none;
    cursor: pointer !important;

    &:hover {
        transform: scale(1.01);
        box-shadow: 0 4px 20px $hover-box-shadow;

        .story-hover-details {
            opacity: 1;
            visibility: visible;
        }
    }
}

:host {
    min-width: 30%;
    max-width: 500px;
}

.story-thumbnail {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; // 16:9 aspect ratio
    background-color: $primary-color;
    overflow: hidden;
}

.story-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.story-details {
    display: flex;
    padding: 16px;
    text-align: left;

    .story-title {
        font-size: 1.2rem;
        margin: 0;
        color: $text-color;
        line-height: 1.4;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .story-description {
        font-size: 0.9rem;
        margin: 8px 0;
        color: lighten($text-color, 20%);
    }

    .story-overview {
        width: 60%;
    }

    .story-info {
        display: flex;
        width: 40%;
        justify-content: space-around;
        align-items: center;
        font-size: 0.85rem;
        color: lighten($text-color, 30%);

        &__item {
            display: flex;
            align-items: center;

            i {
                margin-right: 6px;
                color: lighten($text-color, 40%);
            }
        }

        &__item-age {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            color: #a78bfa;
            font-weight: 600;

            i {
                color: $accent-color;
            }
        }
    }
}

.story-hover-details {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.8); // Dark overlay
    color: $text-color;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease;

    .story-title {
        font-size: 1.4rem;
        font-weight: 600;
    }

    .story-author {
        font-size: 0.8rem;
        font-weight: 400;

        & span {
            color: $hover-box-shadow;
        }
    }

    .full-description {
        font-size: 1rem;
    }
}

@media (max-width: 1500px) {
    :host,
    .story-card {
        flex: 1 1 calc(33.33% - 32px); // 3 cards per row
    }
}

@media (max-width: 1200px) {
    :host,
    .story-card {
        flex: 1 1 calc(50% - 32px); // 2 cards per row
    }
}

@media (max-width: 900px) {
    :host,
    .story-card {
        flex: 1 1 100%; // 1 card per row
    }
}
