<div class="story-card">
    <div class="story-thumbnail">
        <img [src]="story.ImagePreviewUrl" alt="{{ story.Title }}" class="story-image" />
    </div>
    <div class="story-details">
        <div class="story-overview">
            <h3 class="story-title">{{ story.Title | slice: 0:30 }}{{ story.Title.length > 30 ? '...' : '' }}</h3>
            <p class="story-description">{{ story.Description | slice: 0:30 }}...</p>
        </div>
        <div class="story-info">
            <div class="story-info__item">
                <i class="fas fa-calendar-alt"></i> {{ story.DatePublished | date }}
            </div>
            <div class="story-info__item-age">
                <i class="fas fa-calendar-alt"></i> {{ story.AgeLimit }}+
            </div>
        </div>
    </div>
    <div class="story-hover-details" (click)="previewStory(story)">
        <h3 class="story-title">{{ story.Title | slice: 0:100 }}{{ story.Title.length > 100 ? '...' : '' }}</h3>
        <p class="full-description">{{ story.Description | slice: 0:150 }}{{ story.Description.length > 150 ? '...' : ''
            }}</p>
        <h3 class="story-author">By <span>{{ story.AuthorName | slice: 0:100 }}{{ story.AuthorName?.length ?? 0 > 100 ? '...' : '' }}</span></h3>
    </div>
</div>