.publish-story-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1500px;
  margin: 2rem auto;
  padding: 2.5rem;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  background-color: #3e3e3e;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  transition: all .5s ease;
  transition: background-image 0.5s ease;

  .half-width-form {
    ::ng-deep {
      app-form-input,
      app-form-textarea,
      app-form-button {
        display: flex;
        width: 100%;
        margin-bottom: 1rem;
        justify-content: center;
        align-items: center;
      }
    }
  }

  form {
    width: 50%;
  }
}

.overlay {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1 !important;
}

.publish-story-container > * {
  position: relative;
  z-index: 2;
}

h2 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.form-controls {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;

  &__same-line {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
