<div class="publish-story-container">
  <h2>Publish New Story</h2>
  
  <form [formGroup]="publishForm" (ngSubmit)="onSubmit()">
    <div class="publish-form half-width-form">
      <app-form-input
        [formGroup]="publishForm"
        controlName="Title"
        label="Title"
        errorMessage="Title is required"
      ></app-form-input>

      <app-form-textarea
        [formGroup]="publishForm"
        controlName="Description"
        label="Description"
        errorMessage="Description is required"
        [rows]="4"
      ></app-form-textarea>

      <app-form-input
        [formGroup]="publishForm"
        controlName="AuthorName"
        label="Author Name"
        errorMessage="Author Name is required"
      ></app-form-input>

      <app-number-limit-control
        [formGroup]="publishForm"
        controlName="AgeLimit"
        label="Age Limit"
        errorMessage="Age Limit is required and must be between 0 and 18"
        [min]="0"
        [max]="18"
        [step]="1"
      ></app-number-limit-control>

      <!-- <app-form-date-input
        [formGroup]="publishForm"
        controlName="DateWritten"
        label="Date Written"
        errorMessage="Date Written is required"
      ></app-form-date-input> -->

      <p-divider layout="horizontal" />

      <app-form-button
        label="Publish Story"
        [disabled]="publishForm.invalid"
        (onClick)="onSubmit()"
      ></app-form-button>
    </div>
  </form>
</div>
